body {
    background-color: #dc143c;
    font-family: "Helvetica Neue",'UD デジタル 教科書体 NP-B',  "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

.Akina {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 65px 0px 65px 0px;
}