@charset "utf-8";

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", "Noto Sans JP",
      "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial",
      "Yu Gothic", "Meiryo", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin: 0;
    padding: 0;

    background-image: url(../../images/trianglify-export.png);
    background-size: cover;
    background-position: center center;
}

/***************************************  ヘッダー  ****************************************/

.hero-position {
    position: relative;
}

.hero-position > .header {
    position: absolute;
}

.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 105px;
}

.hero > img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -235px;
}

@media screen and (max-width:600px) {

    .hero {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 85px;
    }

.hero > img {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -125px;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    top: 0;
    left: 0;
}

.header-logo {
    margin-top: 20px;
}

.header-logo > a {
    display: block;
}

/***************************************  ページ切り替え  ****************************************/

.profile-outside,
.profile-outside-work,
.profile-outside-another {
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 24px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 10px 8px 25px 2px rgba(0, 0, 0, 0.15);
}

.profile-outside,
.profile-outside-work {
    width: 800px;
}

.profile-outside-another {
    width: 1250px;;
}

.profile-flex {
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.profile-flex-double,
.profile-flex-multi {
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.profile-flex-double > a {
    margin: 0 60px;
}

.profile-flex-multi > a {
    margin: 0 20px;
}

.profile-button,
.profile-button-site {
    display: inline-block;
    width: 150px;
    height: 55px;
    text-align: center;
    line-height: 52.5px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    /* border: 3px solid #000; */
    color: #ff4500;
    /* background-color: #ff4500; */
    border-radius: 32px;
}

.profile-button-site-short {
    display: inline-block;
    width: 100px;
    height: 55px;
    text-align: center;
    line-height: 52.5px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    /* border: 3px solid #000; */
    color: #ff4500;
    /* background-color: #ff4500; */
    border-radius: 32px;
}

.profile-button-site,
.profile-button-site-short {
   text-decoration: underline;
   line-height: 50.5px;
}

.profile-button-nextpage {
    display: inline-block;
    width: 280px;
    height: 55px;
    text-align: center;
    line-height: 50.5px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1.5px;
    /* border: 3px solid #fff; */
    background-color: #ff4500;
    border-radius: 32px;
}

.profile-button:hover,
.profile-button-site:hover {
    opacity: 0.8;
}

@media screen and (max-width:600px) {

    .profile-outside {
        width: 400px;
        height: 150px;
        border-radius: 20px;
        backdrop-filter: blur(10px);
        box-shadow: 10px 8px 25px 2px rgba(0, 0, 0, 0.15);
    }

    .profile-outside-work {
        width: 475px;
        height: 150px;
        border-radius: 20px;
        backdrop-filter: blur(10px);
        box-shadow: 10px 8px 25px 2px rgba(0, 0, 0, 0.15);
    }

    .profile-outside-another {
        width: 350px;
        height: 150px;
        border-radius: 20px;
        backdrop-filter: blur(10px);
        box-shadow: 10px 8px 25px 2px rgba(0, 0, 0, 0.15);
    }

    .profile-flex-double > a {
        margin: 0 2.5px;
    }

    .profile-flex-multi > a {
        margin: 0 -25.5px;
    }

    .profile-flex-multi-plus > a {
        margin: 0 -20.5px;
    }

    .profile-button,
    .profile-button-nextpage,
    .profile-button-site-short {
        display: inline-block;
        width: 140px;
        height: 55px;
        font-size: 12px;
    }
    
    .profile-button-site {
        display: inline-block;
        width: 190px;
        height: 55px;
        font-size: 12px;
    }
}

@media screen and (max-width:540px) {
    .profile-outside-work {
        width: 435px;
        height: 150px;
        border-radius: 20px;
        backdrop-filter: blur(5px);
        box-shadow: 10px 8px 25px 2px rgba(0, 0, 0, 0.15);
    }
}

@media screen and (max-width:480px) {

    .profile-outside {
        width: 300px;
        height: 150px;
        border-radius: 20px;
        backdrop-filter: blur(5px);
        box-shadow: 10px 8px 25px 2px rgba(0, 0, 0, 0.15);
    }

    .profile-outside-work {
        width: 350px;
        height: 150px;
        border-radius: 20px;
        backdrop-filter: blur(5px);
        box-shadow: 10px 8px 25px 2px rgba(0, 0, 0, 0.15);
    }

    .profile-flex-double > a {
        margin: 0 -4.5px;
    }

    .profile-flex-multi > a {
        margin: 0 -22.5px;
    }

    .profile-button,
    .profile-button-nextpage {
        display: inline-block;
        width: 120px;
        height: 55px;
        font-size: 10.5px;
        line-height: 52.5px;
    }
    
    .profile-button-site {
        display: inline-block;
        width: 155px;
        height: 55px;
        font-size: 10.5px;
        line-height: 52.5px;
    }
}

@media screen and (max-width:400px) {

    .profile-outside {
        width: 280px;
        height: 150px;
        border-radius: 20px;
        backdrop-filter: blur(5px);
        box-shadow: 10px 8px 25px 2px rgba(0, 0, 0, 0.15);
    }

    .profile-outside-work {
        width: 300px;
        height: 150px;
        border-radius: 20px;
        backdrop-filter: blur(5px);
        box-shadow: 10px 8px 25px 2px rgba(0, 0, 0, 0.15);
    }

    .profile-flex-double > a {
        margin: 0 -1.5px;
    }

    .profile-flex-multi > a {
        margin: 0 -20.5px;
    }

    .profile-button,
    .profile-button-nextpage {
        display: inline-block;
        width: 110px;
        height: 55px;
        font-size: 10.5px;
    }
    
    .profile-button-site {
        display: inline-block;
        width: 145px;
        height: 55px;
        font-size: 10.5px;
    }
}

/***************************************  フッター  ****************************************/

.footer {
    max-width: 70%;
    margin: 0 auto;
}

.footer-line {
    margin-top: 50px;
    border-top-width: 2.5px;
}

.footer-copy {
    margin: 20px 0px;
    text-align: center;
}

/***************************************  ページ構造  ****************************************/

/* .codepen {
    margin-bottom: 50px;
} */

.section {
    max-width: 80%;
    margin: 0 auto;
}

.section-sub,
.section-works,
.section-sub-margin,
.section-sub-reverse,
.section-sub-reverse-works {
    display: flex; 
    max-width: 90%;
    margin: 0 auto;
}

.section-sub-reverse,
.section-sub-reverse-works {
    flex-direction: row-reverse; 
}

.section-works > img {
    width: 50%;
    height: 50%;
}

.section-sub > img,
.section-sub-reverse > img,
.section-sub-reverse-works > img,
.section-sub-margin > img {
    width: 60%;
    height: 60%;
}

.section-works > img,
.section-sub > img {
    margin-left: -50px;
}

.section-sub-reverse > img,
.section-sub-reverse-works > img {
    margin-left: 50px;
}

.section-sub-margin > img {
    margin-left: -150px;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-title-description {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.section-title-sub {
    /* text-align: center; */
    font-size: 20px;
    margin-left: 73px;
    margin-bottom: 50px;
}

.section-title-sub-sub {
    /* text-align: center; */
    font-size: 20px;
    margin-left: 63px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-title-point {
    /* text-align: center; */
    font-size: 18px;
    font-weight: bold;
    color: #ff4500;
    margin-bottom: 20px;
    text-decoration: underline;
}

.section-button::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(../../images/css.png) no-repeat;
    vertical-align: text-bottom;
    background-size: contain;
    margin-right: 8px;
}

.section-list-description,
.section-description-sub {
    text-decoration: underline;
}

.section-list-description,
.section-description,
.section-description-reverse,
.section-description-sub {
    font-size: 20px;
    margin-bottom: 50px;
    line-height: 2.5;
}

.section-list-description,
.section-description-sub {
    margin-left: 50px;
}

.section-description,
.section-description-reverse {
    margin-left: 0px;
}

.section-font {
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 1.5px;
}

.section-description-word {
    font-weight: bold;
    text-decoration: underline dotted;
    color: #ff4500;
}

/* .section-description-ref {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
    line-height: 2.5;
    text-decoration: underline;
}

.section-description-ref:hover {
    letter-spacing: 1.5px;
    transform: scale(1.05);
    color: #ff4500;
} */

@media screen and (max-width:600px) {

    .section-sub,
    .section-works,
    .section-sub-margin,
    .section-sub-reverse {
        display: block; 
        max-width: 90%;
        margin: 0 auto;
    }

    .section-sub > img,
    .section-works > img,
    .section-sub-margin > img,
    .section-sub-reverse > img {
        width: 100%;
        height: 100%;
        margin: 20px auto;
    }

    .section-title,
    .section-title-sub,
    .section-title-sub-sub {
        font-size: 24px;
    }

    .section-title-sub,
    .section-title-sub-sub {
        text-align: center;
        margin: 30px 0 25px 0;
    }

    .section-title-description,
    .section-description,
    .section-description-reverse {
        font-size: 16px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:480px) {

    .section-list-description {
        font-size: 16px;
    }
}

@media screen and (max-width:380px) {

    .section-title-description,
    .section-description,
    .section-description-reverse {
        font-size: 12px;
        margin: 0 auto;
    }

    .section-title-sub,
    .section-title-sub-sub {
        font-size: 20px;
    }
}

/***************************************  トップへ戻るボタン  ****************************************/

.back-to-top {
    background-color: #ff4500;
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    opacity: 0;
    box-shadow: 5px 7px 13.5px 3px rgba(0, 0, 0, 0.35);
    pointer-events: none;
    transition: all 0.4s;
}
  
.back-to-top::before {
    content: "";
    position: absolute;
    left: 19.25px;
    bottom: inherit;
    width: 12px;
    height: 12px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: rotate(-45deg);
}
  
.back-to-top.active {
    pointer-events: auto;
    opacity: 1;
}
  
.back-to-top.active:hover {
    transform: scale(1.1);
    opacity: 0.8;
}